@model NSE.WebApp.MVC.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model is null)
{
    <div>
        <h2>Oops! Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h2>
    </div>
}
else
{
    <div>
        <h2>@Html.Raw(Model.Message)</h2>
    </div>
}